.writeForm {
  padding: 50px;
  input {
    padding: 10px;
    width: 100%;
    height: 40px;
  }
  input:focus {
    outline: none;
  }
  textarea {
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    border: 1px solid #dddddd;
  }
  textarea:focus {
    outline: none;
  }
  Button {
    margin-top: 10px;
    float: right;
  }
}